#container {
	max-width: 660px;
	margin: auto;
	height: 400px;
	margin: 0 auto;
}


#containe4 {
    height: 500px; 
    min-width: 310px; 
    max-width: 800px; 
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}


#containerseoul div {
    width: 600px;
    height: 200px;
  
    margin: 0 1em 1em 0;
}


#containergyeonggi div {
    width: 600px;
    height: 200px;  
    margin: 0 1em 1em 0;
}

